<div class="languages-overlay">
    <button (click)="toggleShowList()" id="languageButton" [ngStyle]="{'border-radius': showLanguageList ? '0px' : '26px'}">
        <span class="fi fi-co flag"></span>Change Language
        <mat-icon style="padding-top: 2px;">keyboard_arrow_down</mat-icon>
    </button>
    <ul [ngClass]="{'display': showLanguageList ? 'block' : 'none'}" [ngClass]="{'show': showLanguageList}" class="languagesList">
        <li class="languageToChange" *ngFor="let language of languagesList" (click)="changeLanguage(language)">
            {{ language }}
        </li>
    </ul>
</div>

<div class="app-container">
    <app-navbar></app-navbar>
    <div class="content">
        <section id="home">
            <app-banner></app-banner>
        </section>
        <section id="aboutme">
            <app-about-me></app-about-me>
        </section>
        <section id="projects">
            <app-projects></app-projects>
        </section>
        <section id="contactme">
            <app-contact-me></app-contact-me>
        </section>
    </div>
</div>
