<div class="content">
    <div class="coverPage">
        <p class="heyText">¡Hey!, déjame contarte un poco sobre mí, yo soy</p>
        <span class="myName"><strong class="rotating-text" style="color: #00C2EC;">{{rotatingText}}</strong></span><br>
        <p class="coverDescription">Realicé mis estudios en <span class="highlightedtext">La Universidad de La Sabana, Colombia</span>. Mi pasión es crear experiencias digitales excepcionales mediante soluciones <span class="highlightedtext">únicas</span> e <span class="highlightedtext">innovadoras</span> que hacen que cada interacción sea <span class="highlightedtext">intuitiva</span> y <span class="highlightedtext">agradable</span>. Me especializo en desarrollo con <span class="highlightedtext">Angular</span>, diseño de interfaces en <span class="highlightedtext">Figma</span> y desarrollo de videojuegos en <span class="highlightedtext">Unity</span>, mientras amplio mis conocimientos aprendiendo <span class="highlightedtext">React.js</span>, <span class="highlightedtext">MySQL</span> y <span class="highlightedtext">MariaDB</span>.
        </p>
        <button class="findOutButton">Descubre más de mí</button>
    </div>
</div>